@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --font-roboto: 'Roboto', sans-serif;
    --font-spectral: 'Spectral', serif;
    --font-playfair: 'Playfair Display', serif;
    --color-bg: #0D0D0D;
    --color-white: #ffffff;
    --color-beige: #EBD7B2;
  }

  header ul li a {
    font-family: var(--font-spectral);
  }
}

* {
  font-family: var(--font-roboto);
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: var(--color-bg);
  overflow-x: hidden;
  font-size: calc(100vw / 1920 *10);
}

@media (max-width: 768px) {
  html {
    scroll-behavior: auto;
    color: var(--color-white);
    font-size: calc(100vw / 430 *10);
  }
}

body {
  background: transparent !important;
  min-height: 100dvh;
}

header,
main,
footer {
  color: var(--color-white);
}

li,
a {
  display: block;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #dbdadd;
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dbdadd;
}