@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --font-roboto: 'Roboto', sans-serif;
    --font-spectral: 'Spectral', serif;
    --font-playfair: 'Playfair Display', serif;
    --color-bg: #0D0D0D;
    --color-white: #ffffff;
    --color-beige: #EBD7B2;
  }

  header ul li a {
    font-family: var(--font-spectral);
  }
}

* {
  font-family: var(--font-roboto);
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: var(--color-bg);
  font-size: calc(100vw / 1920 *10);
  line-height: 1.1;
  letter-spacing: 0.1rem;
}

@media (max-width: 767px) {
  html {
    scroll-behavior: auto;
    color: var(--color-white);
    font-size: calc(100vw / 430 *10);
  }
}

body {
  background: transparent !important;
  user-select: none;
}

header,
main,
footer {
  color: var(--color-white);
}

li,
a {
  display: block;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.building-list li {
  position: relative;
  padding-left: 2rem;
  font-family: var(--font-playfair);
  gap: 1rem;
}

.building-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 1rem;
  height: 1rem;
  transform: translateY(-50%);
  background-color: var(--color-white);
  border-radius: 50%;
}

.active .headroom {
  transform: translate3D(0, 0, 0) !important;
  transition: none !important;
}

.react-transform-wrapper,
.react-transform-component {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote::before,
.quote::after {
  content: '"' !important;
}

.caouresel_gold_item::before,
.caouresel_gold_item::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 9.614rem;
  background-size: 9.614rem;
  opacity: 0.3;
}

.caouresel_gold_item::before {
  top: -3rem;
  background-position-x: 2rem;
  background-position-y: 3.1rem;
}

.caouresel_gold_item::after {
  bottom: -3rem;
  background-position-x: 2rem;
  background-position-y: 3.1rem;
  transform: rotate(180deg);
}

.caouresel_gold_arrow svg {
  width: 3rem;
  height: 3rem;
  color: var(--color-beige);
}

body{ 
  width: 100%;
}